<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Excel Import<</title>
</head>
<style>
    .comment-form-btn {
        /* for decoration of a button */
        float: center;
        border: 0;
        background: #2980b9;
        color: #ffffff;
        padding: 12px 50px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s;
      }
</style>
{% include 'AdminU/base.html' %}
<body>
<h1>Import Excel</h1><br><br><br><br><br><br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <center>
        {{ form.as_p }}<br>
        <input type="submit" class="comment-form-btn" value="Import"><br><br><br>
    </center>
    </form>
</body>
{% include 'footer.html' %}
</html>