<!DOCTYPE html>
<html lang="en">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<head>
<!--     <style>-->
<!--    html {-->
<!--  scroll-behavior: smooth;-->
<!--}-->
<!--body {-->
<!--  margin: 0;-->
<!--  padding: 0;-->
<!--  font-family: Poppins;-->
<!--}-->
<!--h1 {-->
<!--  font-size: 50px;-->
<!--  font-family: Audiowide;-->
<!--}-->
<!--p {-->
<!--  font-size: 24px;-->
<!--  line-height: 50px;-->
<!--}-->
<!--.navbar {-->
<!--  position: fixed;-->
<!--  display: flex;-->
<!--  justify-content: center;-->
<!--  align-items: center;-->
<!--  flex-direction: row;-->
<!--  flex-wrap: wrap;-->
<!--  background-color:#0C2340;-->
<!--  width: 100%;-->
<!--  height: 90px;-->
<!--  z-index: 1;-->
<!--}-->
<!--.nav {-->
<!--  display: flex;-->
<!--  justify-content: right;-->
<!--  list-style: none;-->
<!--  margin-right: 15%;-->

<!--}-->
<!--.logo {-->
<!--  flex: 1 1 auto;-->
<!--  margin-left: 10%;-->
<!--  text-transform: uppercase;-->
<!--  letter-spacing: 1px;-->
<!--  font-weight: bold;-->
<!--  font-size: 35px;-->
<!--}-->
<!--img {-->
<!--  width: 20%;-->
<!--}-->
<!--a {-->
<!--  margin: 8px;-->
<!--  color: #000;-->
<!--  text-decoration: none;-->
<!--  text-transform: uppercase;-->
<!--}-->
<!--a:hover {-->
<!--  color: #000;-->
<!--}-->
<!--.banner-area {-->
<!--  position: relative;-->
<!--  background-image: url(https://i.postimg.cc/GtRM7mdX/1.jpg);-->
<!--  width: 100%;-->
<!--  height: 100vh;-->
<!--  background-repeat: no-repeat;-->
<!--  background-size: cover;-->
<!--}-->

<!--.about-area,-->
<!--.port-area,-->
<!--.service-area,-->
<!--.contact-area {-->
<!--  position: relative;-->
<!--  display: flex;-->
<!--  justify-content: space-around;-->
<!--  align-items: center;-->
<!--  flex-wrap: wrap;-->
<!--  flex-direction: row;-->
<!--  width: 100%;-->
<!--  height: 700px;-->
<!--}-->
<!--.text-part {-->
<!--  width: 65%;-->
<!--  height: 80%;-->
<!--}-->
<!--.about-area {-->
<!--  background-color: #fefefe;-->
<!--}-->
<!--.port-area {-->
<!--  background-color: #262626;-->
<!--  color: #fff;-->
<!--}-->
<!--.service-area {-->
<!--  background-color: #fefefe;-->
<!--}-->
<!--.contact-area {-->
<!--  background-color: #262626;-->
<!--  color: #fff;-->
<!--}-->
<!--.navbar .nav li a{-->
<!--color:white;-->
<!--}-->

<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    </style>-->

    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% include 'header.html' %}<br><br><br><br><br><br>
<body style="background-color:white;">

<center>
<table class="table table-striped"  style="width:1300px;">

    <h1 align="center"><b>VOTERS DATA</b></h1>

  <tr style="color:white;background-color:black;">
      <th>Serial No</th>
      <th>Name</th>
      <th>Guardians Name</th>
      <th>House No</th>
      <th>House Name</th>
      <th>Gender/Age</th>
      <th>ID NO</th>
      {% comment %} <th>Add Comment</th> {% endcomment %}


  </tr>
     {% for i in a %}
    <tr>

        <td>{{i.serialno}}</td>
        <td>{{i.name}}</td>
        <td>{{i.guardiansname}}</td>
        <td>{{i.houseno}}</td>
        <td>{{i.housename}}</td>
        <td>{{i.genderage}}</td>
        <td>{{i.idno}}</td>
<!--        <td><input type="checkbox" name="YES"></td>-->
<!--        <td><input type="checkbox" name="NO"></td>-->
<!--        <td><input type="checkbox" name="MAYBE"></td>-->
<!--         <td><input type="text" name="comment"></td>-->
        {% comment %} <td><a href="http://127.0.0.1:8000/comment/{{i.id}}" >Submit</button> </a> </td> {% endcomment %}


        {% endfor %}
    </tr>

</table>
    </center>
</body>
{% include 'footer.html' %}
</html>