<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" action="/addcomments/{{a.id}}">
<table border="1">

  <tr>
      <th>id</th>
      <th>serialno</th>
      <th>name</th>
      <th>guardiansname</th>
      <th>houseno</th>
      <th>housename</th>
      <th>genderage</th>
      <th>idno</th>
      <th>YES</th>
      <th>NO</th>
      <th>MAY BE</th>
      <th>COMMENT</th>
<!--      <th>BUTTON</th>-->


  </tr>
     {% for i in a %}
    <tr>

        <td>{{i.id}}</td>
        <td>{{i.serialno}}</td>
        <td>{{i.name}}</td>
        <td>{{i.guardiansname}}</td>
        <td>{{i.houseno}}</td>
        <td>{{i.housename}}</td>
        <td>{{i.genderage}}</td>
        <td>{{i.idno}}</td>

<!--        <td>{{i.yes}}</td>-->
<!--        <td>{{i.no}}</td>-->
<!--        <td>{{i.maybe}}</td>-->
        <td><input type="checkbox" name="YES"></td>
        <td><input type="checkbox" name="NO"></td>
        <td><input type="checkbox" name="MAYBE"></td>
        <td><input type="text" name="comment"></td>
        <td><button type="submit">Submit</button></td>


        {% endfor %}
    </tr>
</table>
</form>
</body>
</html>
</body>
</html>